<head>
  <meta charset="UTF-8">
  <title>Taco Meme Coin on Gala</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">


  <!-- Favicon links -->
  <link rel="icon" type="image/png" sizes="32x32" href="/images/Taco_32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/Taco_16.png">
  <link rel="icon" type="image/png" sizes="128x128" href="/images/Taco_128.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/Taco_180.png">
  <link rel="mask-icon" href="/images/TacoWH.svg" color="#373737">

</head>

