<%# Waffle Wonders Game Show Window EJS Partial %>
<div class="window-gameshow" id="waffle-wonders-game-show-window" style="display: none; position: fixed; z-index: 10;">
  <div class="title-bar">
    <div class="neon-header">Waffle Wonders Game Show</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize" onclick="minimizeWindow('waffle-wonders-game-show-window');"><i class="fas fa-minus"></i></button>
      <button aria-label="Maximize" onclick="maximizeWindow('waffle-wonders-game-show-window');"><i class="fas fa-expand"></i></button>
      <button style="font-weight: bold;" aria-label="Close" onclick="closeWindow('waffle-wonders-game-show-window');">X</button>
      <!-- <button aria-label="Close" onclick="closeWindow('waffle-wonders-game-show-window');"><i class="fas fa-times"></i></button> -->
    </div>
  </div>
  <div class="window-body">
    <p class="subheader">Dive into the Waffle Wonders Game Show!</p>
    <div class="semi-transparent-bg">
      <p class="standard-text">Participate in our latest challenges and quizzes, and win exciting prizes in $TACO.</p>
      <p class="standard-text">Stay tuned for upcoming events and make sure to join the fun.</p>
    </div>
  </div>
</div>
<script src="/js/windowManagement.js" defer></script>