<link href="/css/solitaire.css" rel="stylesheet" type="text/css">
<div class="window-solitaire" id="solitaire-window" style="display: none; position: fixed; z-index: 10;">
    <div class="title-bar">
      <div class="title-bar-text">SOLITAIRE</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize" onclick="minimizeWindow('solitaire-window');"><i class="fas fa-minus"></i></button>
        <button aria-label="Maximize" onclick="maximizeWindow('solitaire-window');"><i class="fas fa-expand"></i></button>
        <button style="font-weight: bold;" aria-label="Close" onclick="closeWindow('solitaire-window');">X</button>
      </div>
    </div>
    <div class="window-body">
      <!-- Wrapped Solitaire game in a specific div for background styling -->
      <div class="solitaire-game-area">
        <div id="js-solitaire" class="solitaire">
            <div id="js-upper" class="upper">
                <div id="js-deck-pile" class="deck__pile upper__spacer"></div>
                <div id="js-deck-deal" class="deck__deal upper__spacer"></div>
                <div class="upper__spacer"></div>
            </div>
            <div id="js-board" class="board-deck"></div>
        </div>
        <script src="/js/solitaire.js"></script> <!-- Ensure correct script path -->
      </div>
    </div>
</div>
  