<div class="window-whitepaper" id="white-paper-window" style="display: none; position: fixed; z-index: 10;">
    <div class="title-bar">
      <div class="title-bar-text">TACO Whitepaper</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize" onclick="minimizeWindow('white-paper-window');"><i class="fas fa-minus"></i></button>
        <button aria-label="Maximize" onclick="maximizeWindow('white-paper-window');"><i class="fas fa-expand"></i></button>
        <button aria-label="Close" onclick="closeWindow('white-paper-window');">X</button>
      </div>
    </div>
    <div class="window-body" style="height: calc(100vh - 120px);">
      <iframe src="/docs/TACO_Token_Whitepaper_v1.3.pdf" style="width: 100%; height: 100%; border: none;"></iframe>
    </div>
  </div>
  