<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="text-center">
        <h1>Gala Music Artist Support</h1>
        <p>Welcome to the Gala Music Artist Support section. Here, artists can register to create their own meme coins and engage with fans.</p>
        <a href="/artistRegister" class="btn btn-primary">Register as an Artist</a>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
</html>