<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="text-center">
        <h1>Engagement Meter</h1>
        <p>Placeholder for the Engagement Meter dynamic content.</p>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
</html>