<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
<%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="text-center">
        <h1>Waffle Wonders Game Show</h1>
        <p>Placeholder for Waffle Wonders Game Show dynamic content.</p>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
</html>