body {
  background-color: #008080;
  background-image: url('/images/retro-desktop-background.png');
  background-size: contain; /* This will ensure that the image is scaled to fit the content box */
  background-repeat: no-repeat; /* The image will not repeat */
  background-position: center center; /* This will center your image in the middle of the page */
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  margin: 0;
  padding-bottom: 10px; /* Space for taskbar */
  min-height: 100vh; /* Full height */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.scanlines {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.1) 3px,
    rgba(0, 0, 0, 0) 4px
  );
  pointer-events: none;
  z-index: 2000;
}

.desktop-icon {
  display: inline-block;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  position: relative; /* Allow for icon dragging */
}

.desktop-icon img {
  width: 64px;
  height: 64px;
}

.window {
  background-color: #c0c0c0;
  border: 2px solid #000000;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 100px;
  right: 100px;
  bottom: 50px;
  display: none;
  z-index: 10; /* Ensure windows can be layered above others */
}

.window-titlebar {
  background-color: #000080;
  color: #ffffff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.window-titlebar-controls button {
  border: none;
  background: #000080; /* Dark blue background */
  height: 20px;
  width: 20px;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  text-align: center;
  line-height: 20px; /* Center text vertically */
}

.window-titlebar-controls button[aria-label="Close"]::before {
  content: '✖'; /* Close symbol */
}

.window-titlebar-controls button[aria-label="Minimize"]::before {
  content: '−'; /* Minimize symbol */
}

.window-titlebar-controls button[aria-label="Maximize"]::before {
  content: '□'; /* Maximize symbol */
}


.neon-effect {
  animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #008080, 0 0 40px #008080, 0 0 50px #008080, 0 0 60px #008080, 0 0 70px #008080;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@keyframes glitch {
  0%, 100% {
    clip: rect(0, 9999px, 0, 0);
  }
  10% {
    clip: rect(0, 9999px, 0, 0);
  }
  20% {
    clip: rect(0, 9999px, 0, 0);
  }
  30% {
    clip: rect(0, 9999px, 0, 0);
  }
  40% {
    clip: rect(0, 9999px, 0, 0);
  }
  50% {
    clip: rect(0, 9999px, 0, 0);
  }
  60% {
    clip: rect(0, 9999px, 0, 0);
  }
  70% {
    clip: rect(0, 9999px, 0, 0);
  }
  80% {
    clip: rect(0, 9999px, 0, 0);
  }
  90% {
    clip: rect(0, 9999px, 0, 0);
  }
}

.glitch:hover {
  animation: glitch 500ms infinite;
}

@keyframes neon-glow {
  from {
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
  }
  to {
    box-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff;
  }
}

.icon-neon-effect:hover {
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}



.taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, #b4b4b4 0%, #5e5e5e 100%);
  
  color: #ffffff;
  padding: 5px 10px;
  margin-bottom: 28px;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  font-size: 12px;
  border-top: 2px outset; /* Reintroduced border-top as per feedback */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1010; /* Ensure the taskbar is above all other content */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000080; /* Slightly darker shade for differentiation */
  color: #ffffff;
  text-align: center;
  padding: 0 0 0 0;
  line-height: 18px;
  height: 28px;
  z-index: 1010; /* Lower than the taskbar to keep it underneath */
}

.taskbar, footer {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}


button:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.quick-launch-icons {
  display: flex;
}

.quick-launch-icon {
  margin-right: 10px;
  cursor: pointer;
}

.quick-launch-icon:hover {
  position: relative;
  top: -2px;
  transition: top 0.2s;
}

.quick-launch-icon:hover .icon-neon-effect {
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}


.active-icon {
  animation: none; /* No animation by default */
}

.active-icon:hover {
  animation: glitch 500ms infinite;
}



.start-button {
  background-color: #c0c0c0;
  color: #000000;
  padding: 3px 6px;
  cursor: pointer;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  font-size: 12px;
  border: 2px outset #ffffff;
}

.start-button:active {
  border: 2px inset #ffffff;
}

.start-menu {
  display: none;
  position: fixed;
  bottom: 60px; /* Adjusted bottom position to ensure it pops up above the taskbar */
  left: 0;
  background-color: #c0c0c0;
  border: 2px solid #000000;
  padding: 10px;
  z-index: 1002; /* Make sure it's above taskbar */
  box-shadow: 0 0 15px #00ffff, 0 0 30px #ff00ff;
  animation: neonBorder 2s ease-in-out infinite alternate, tracer 2s linear infinite;
  width: 200px; /* Set a fixed width for the start menu */
}

.start-menu ul {
  list-style-type: none;
  padding: 0;
}

.start-menu ul li a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 5px;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  font-size: 12px;
}

.start-menu ul li a:hover {
  background-color: #008080;
  color: #ffffff;
}

@keyframes tracer {
  0% { box-shadow: 0 0 15px #00ffff; }
  100% { box-shadow: 0 0 15px #ff00ff; }
}

@keyframes neonBorder {
  from {
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff, 0 0 60px #00ffff, 0 0 70px #00ffff;
  }
  to {
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
}

.time-display {
  float: right;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  font-size: 12px;
}